.overlay-text {
    display: none;
    position:fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    justify-content: center;
    align-items: center;
    z-index: 100;
    color: #FFBB89;
    font-family: serif;
  }
  
  
  .overlay-text-small {
    font-size: .3em;
  }
  
  .overlay-text.visible {
    display: flex;
    flex-direction: column;
    animation: overlay-grow 500ms forwards;
  }
  
  @keyframes overlay-grow {
    from {
        background-color: rgba(0,0,0, 0);
        font-size:0;
    }
    to {
        background-color: rgba(0, 0, 0, 0.8);
        font-size: 10em;
    }
  }
  
  .page-title {
    color: #FF6D00;
    font-family: serif;
    font-weight: normal;
    text-align: center;
    font-size: 2em;
  
  }
  
  .game-info-container {
    grid-column: 1 / -1;
    display: flex;
    justify-content: space-between;
  }

  .game-info {
    color: #FFBB89;
    font-family: serif;
    font-size: 2em;
    margin: 2rem;
    /* border: 2px, solid green !important;
     */
    border: 2px, solid, green;
  }

  .highlight-user {
    border-bottom: 3px solid;
  }
  
  
  
  .game-container {
    display: grid;
    grid-template-columns: repeat(4, auto);    
    grid-gap: 10px;
    /* margin: 50px; */
    justify-content: center;
    perspective: 500px;
  }
  
  
  
  .cards-left {
    color: white;
  }
  
  .cards-container {
    display: flex;
    flex-direction: column;
  
  }
  
  .title-cards {
    font-size: 1.2rem;
    font-weight: bold;
    margin-bottom: 5px;
  }
  
  .group-cards-player, .group-cards-dealer {
    display: flex;
  }
  
  
  
  
  @media (max-width: 600px){
    .game-container {
        grid-template-columns: repeat(2,auto);
    }
  
    .game-info-container {
        flex-direction: column;
        align-items: center;
    }
  }